<div class="table-responsive" id="scrollbar">
  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let key of mappingKeys">{{key.displayName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let outlet of displayList;let i= index">
          <td *ngFor="let key of mappingKeys">
            <span *ngIf="outlet[key.displayName] !=''">{{outlet[key.name]}}</span>
          </td>
      </tr>
    </tbody>
  </table> -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let key of keysList">{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of displayList |searchHighlight:searchText;let i= index">
          <td *ngFor="let data of list.text;let j= index">
            <span>{{data}}</span>
          </td>
      </tr>
    </tbody>
  </table>
</div>
