.table-responsive {
  max-height: calc(100vh - 185px);
  .table {
    margin-bottom: 0px !important;
    thead {
      tr > th {
        text-transform: capitalize;
        color: var(--light-orange);
      }
    }
    tbody {
      tr > td > span {
        font-size: 12px;
        text-transform: capitalize;
      }
    }
  }
}
